@charset "UTF-8";

div#container {
  border: solid 1px #000;
  width: 40%;
  margin: 5% auto;
}

div#container > table {
  border: solid 0px red;
  width: 100%;
  border-collapse: collapse;
}

div#container > table th,
div#container > table td {
  border: solid 1px #000;
}

div#container > table th {
  background-color: #ccc;
  height: 40px;
}

div#container > table th {
  height: 30px;
}

/* div#container > table > tbody > tr > td {
  text-align: center;
} */

.myalign_center {
  text-align: center;
}

.myalign_right {
  text-align: right;
}

.myalign_left {
  text-align: left;
}

.myvertical_top {
  vertical-align: top;
}

.myvertical_bottom {
  vertical-align: bottom;
}

div#container > table > tbody > tr:nth-child(4),
div#container > table > tbody > tr:nth-child(5) {
  height: 100px;
}

div#container > table > tbody > tr:nth-child(4) > td:first-child {
  vertical-align: top;
}

div#container > table > tbody > tr:nth-child(4) > td:nth-child(2) {
  vertical-align: middle;
  /* 디폴트값은 middle */
  text-align: center;
}

div#container > table > tbody > tr:nth-child(4) > td:last-child {
  vertical-align: bottom;
  text-align: right;
}
