@charset "UTF-8";

div#container {
  border: solid 0px #000;
  width: 40%;
  margin: 5% auto;
}

div#container > table {
  border: solid 0px red;
  width: 100%;
  border-collapse: collapse;
}

div#container > table th,
div#container > table td {
  border: solid 1px white;
}

div#container > table th {
  background-color: #ccc;
  height: 40px;
}

div#container > table th {
  height: 30px;
}

div#container > table > tbody > tr > td {
  text-align: center;
}

div#container > table > tbody > tr > td:nth-child(2) {
  text-align: right;
}

div#container > table > tbody > tr:nth-child(1) > td:nth-child(2) {
  text-align: left;
}

div#container > table > tbody > tr:nth-child(2) > td:nth-child(2) {
  text-align: center;
}

colgroup#firstColgroup {
  background-color: yellow;
}

colgroup#secondColgroup {
  background-color: lightblue;
}
