@charset "UTF-8";

div#container {
  border: 0px solid black;
  display: flex;
  width: 60%;
  height: 600px;
  margin: 5% auto;
  align-items: center;
  justify-content: center;
}
img {
  width: 119px;
  height: 149px;
}
div#timer {
  font-size: 15pt;
  font-weight: bold;
  color: blue;
}
div#main {
  border: 0px solid black;
  width: 90%;
  height: 100%;
}
div#quiz_4 > ol {
  height: 200px;
}
div#quiz_4 > ol > li {
  float: left;
  margin-right: 4%;
}
div#quiz_4 > div.ox > span {
  clear: left;
}

header {
  border: 0px solid black;
  display: flex;
  height: 13%;
}
header > h2 {
  margin: 20px 0 0 80px;
}
header > div:nth-child(2) {
  margin: 20px 0 0 auto;
  position: relative;
  left: 12%;
  font-size: 15pt;
  font-weight: bold;
}

header > div#timer {
  margin: 20px 0 0 auto;
}
button#previous,
button#next {
  margin: 0 30px;
  width: 50px;
  height: 50px;
  background-color: #646464;
  color: white;
  font-size: 20pt;
  border-radius: 50%;
}

button#previous:active,
button#next :active {
  /* 버튼을 누르고 있는 경우 */
  background-color: #333;
}

button#previous:disabled,
button#next:disabled {
  /* 버튼 속성이 disabled 되어진 경우 */
  background-color: #ccc;
}

main {
  border: 1px solid black;
  background-color: lightyellow;
  height: 75%;
  padding: 4%;
}

footer {
  border: 0px solid black;
  height: 11%;
  display: flex;
}

footer > button {
  margin: 20px;
  width: 10%;
  height: 30px;
  font-size: 12pt;
  color: orange;
  border: 1px solid black;
  border-radius: 7px;
}

footer > span {
  background-color: lightgrey;
  vertical-align: middle;
  border: 1px solid black;
  margin: 20px auto auto 30px;
  font-weight: bold;
  font-size: 13pt;
}

table {
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
td {
  border: 1px solid black;
}
th {
  border: 1px solid black;
  width: 120px;
}
