@charset "UTF-8";

div#container {
  border: solid 0px red;
  width: 80%;
  margin: 5% auto 0 auto;
}

div#container > form {
  border: solid 0px blue;
  width: 50%;
}

div#container > form > fieldset > legend {
  font-size: 20pt;
  background-color: black;
  color: white;
  padding: 0.5% 1%;
  margin: 0 10%;
}

div#container > form > fieldset > ul {
  border: solid 1px black;
  list-style-type: none;
  padding-left: 10%;
}

div#container > form > fieldset > ul > li > label {
  border: solid 1px black;
  display: inline-block;
  width: 25%;
  font-weight: bold;
}

div#container > form > fieldset > ul > li > input {
  height: 20px;
}

div#container > form > fieldset > ul > li {
  border: solid 0px black;
  line-height: 40px;
}

div#container > form > fieldset > ul > li:last-child > input {
  width: 80px;
  height: 35px;
  /* color : white; */
  font-size: 16pt;
  margin: 30px 20px 0 0;
  padding: 3px;
  border: none;
}
/* 
div#container > form > fieldset > ul > li:last-child > input:nth-child(1) {
  background-color: #333;
  color: white;
}

또는

div#container > form > fieldset > ul > li:last-child > input:nth-child(2) {
  background-color: red;
} */

/* 속성값으로 자식을 선택해줄 수 있다. */
div#container > form > fieldset > ul > li:last-child > input[value="전송"] {
  background-color: blue;
  color: white;
}

div#container > form > fieldset > ul > li:last-child > input[value="취소"] {
  background-color: red;
}
